<!DOCTYPE html>
<html>
<head>
  <title>Matt Parvinsmith's MEAN Boilerplate</title>
</head>
<body>
  <h1>Under construction</h1>
  <p>Thank you for bearing with me as this website comes together</p>

</body>
</html>
