<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <title>E-Business Card</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body ng-controller="IndexController as ctrl">
  <h1>Thank you for your interest</h1>
  <p>Please enter your email in the form below:</p>
  <div>
    <p class="thanks-message">{{ctrl.message}}</p>
    <form ng-submit="ctrl.sendEmail()">
      <label for="email">Email:</label>
      <input type="email" name="email" ng-model="ctrl.email.recipient">
      <button>Submit</button>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="/js/index.js" type="text/javascript"></script>
  <script src="/js/indexController.js"></script>
</body>
</html>
